<div>
    <%- metric %>:
    <ul style="padding-left: 1.5rem;">
        <li>Current Temperature: 23</li>
        <li>Set Temperature: 22</li>
        <li>Humidity: 65%</li>
        <li>CO2: 145</li>
        <li>VOC: 50</li>
    </ul>
</div>