<p>
    This sample custom view is the bare minimum to get started.<br/>
    In the usual programming tradition we implement Hello World!<br/>
    <br/>
    Sample available at <a href="https://github.com/thierryciot/kendoui-builder-template-samples/tree/master/templates/views/custom-hello-world-v1">https://github.com/thierryciot/kendoui-builder-template-samples/tree/master/templates/views/custom-hello-world-v1</a>
</p>

<p>
    The custom view renders a title and a customizable greeting.
</p>

<p>
    See these two blogs for more details:
    <ol>
        <li>
            <a href="https://goo.gl/feRMEd">Introduction to KendoUI Builder Templates</a>
        </li>
        <li>
            <a href="https://goo.gl/cDHZoS">Understanding what goes on behind the scene</a>
        </li>
    </ol>
</p>

See <a href="https://documentation.progress.com/output/kuib/oeov/#page/oe%2Fcustom-templates.html%23">for installing templates</a>