<%#
<p>
   To get this sample working you need to do the following:
   <ul>
   <li>
      Put the angular component somewhere in the target application, for example create
      customcomp directory under \app\src\app\shared and copy the source code there.
   </li>
   <li>add the following code to app\src\app\shared\shared.module.ts
   <code>
      import { HelloWorldComponent } from './customcomp/hello-world.component/hello-world.component';
      config.exports.push(HelloWorldComponent);
      config.declarations.push(HelloWorldComponent);
      //const myDeclarationsArray = <any[]>config.declarations;
      //myDeclarationsArray.push(HelloWorldComponent);
%>
<custom-hello-world greeting="{{$config.components.<%-id%>.greeting}}"></custom-hello-world>
