<%
/*var ratingValue;
if ( fixedValue ) {
    try {
        ratingValue = value;
    } catch(e) {
        ratingValue = 6;
    }
}
else {
    ratingValue = 4;
}
*/
%>

<div style="width: 100%; font-size: <%-fontSize%>px; margin-top: <%-marginTop%>px; margin-bottom: <%-marginBottom%>px; text-align: <%-alignment%>; ">
    A label
</div>