<%#
<script>
    // We cannot define script (script is not executed as
    // the template is appended as div to the designer center panel)
    // Instead we use options.json.ejs
    var kuiOptions = { "version": "V3" };
</script>
%>
<div style="margin-left: 2rem;">

    <h2><%= title %></h2>

    <div>
        <div style="font-size: large"><%- greeting %> World</div>
    </div>

    <div style="width: 400px; margin: 2rem; padding: 1rem; border: 2px solid goldenrod;">
        Properties Added to Model:
        <ul>
            <li>
                <%# This is an example of a property that is defined in options.json.ejs %>
                Version: {{ version }}
            </li>
            <li>
                <%# This is an example of a property that is defined in index.js, function augmentModel %>
                Template Generated on <%- generatedAt %>
            </li>
        </ul>
    </div>

    <h3>Html Property from Html Editor</h3>
    <% if ( html ) { %>
        <%- html %>
    <% } else { %>
        No html entered
    <% } %>
</div>
