<%#
    This renders the view at runtime.
    The items defined in options.json.ejs are available from the model.
    The model is added to the variable vm.$model (view model) in the controller (See controller.js.ejs).

    In this template we can use AngularJS expressions, for example, {{vm.$model.title}} to access the title property.

    Note: This is an EJS comment - it won't show in the html output - See http://ejs.co/#docs for details
%>
<h2>{{vm.$model.title}}</h2>

<div>
    <span ng-bind-html="vm.$model.greeting"></span>&nbsp;World
</div>
<div style="width: 400px; margin: 1rem; padding: 1rem; border: 2px solid goldenrod;">
    Properties Added to Model:
    <ul style="padding-left: 2rem;">
        <li>
            <%# This is an example of a property that is defined in options.json.ejs %>
            Version: {{vm.$model.version}}
        </li>
        <li>
            <%# This is an example of a property that is defined in index.js, function augmentModel %>
            Template Generated on {{vm.$model.generatedAt}}
        </li>
    </ul>
</div>

<h3>Html Property from Html Editor</h3>

<!-- If using html that is no removed by the sanitation need to work around as documented here https://docs.angularjs.org/api/ng/service/$sce#show-me-an-example-using-sce--->
<section ng-bind-html="vm.$model.html"></section>
