<p>
    In this sample we learn how to augment the model used at design time and the model used at run time.<br/>
    <br/>
    Sample available at <a href="https://github.com/thierryciot/kendoui-builder-template-samples/tree/master/templates/views/custom-hello-world-v3">
    https://github.com/thierryciot/kendoui-builder-template-samples/tree/master/templates/views/custom-hello-world-v3
    </a>
</p>

<p>
    See this blog for more details <a href="https://goo.gl/T4komk">Augmenting Models in Kendo UI Builder Templates</a>
</p>

See <a href="https://documentation.progress.com/output/kuib/oeov/#page/oe%2Fcustom-templates.html%23">for installing templates</a>
