<p>
    In this sample we learn how to create a rating component (star rating, dollar rating, ect...).<br/>
    <br/>
    Sample available at <a href="https://github.com/thierryciot/kendoui-builder-template-samples/tree/master/templates/components/custom-rating-comp-v1">custom-rating-comp-v1</a>
</p>

<p>
    See this blog for more details <a href="TBD">Custom Component from Angular Component</a>
</p>

See <a href="https://documentation.progress.com/output/kuib/oeov/#page/oe%2Fcustom-templates.html%23">for installing templates</a>
